.stats {
    display: flex;
    flex-direction: column;
    background-color: #F5F4F6;
    width: 100%;
    height: auto;
}

.servicios-container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.izquierdo {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 30px;

}

.cards-service{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.cards-numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 590px;
    height: 156px;
    margin-top: 30px;
}

.cards-numbers div {
    width: 50px;
    height: 70px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deerecho {
    width: 411px;
}

.izquierdo-bajo {
    width: 100%;
    
}

.ul-iz-bajo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.ul-iz-bajo li {
    margin-left: 35px;
    font-size: 13px;
}

.li-orange::marker {
    color: #FF5C67;
}

.li-purple::marker{
    color: #A86BFF;
}
.order-div{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.your-order{
    display: flex;
    flex-direction: column;
    height: 268px;
    width: 216px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffff;
    border-radius: 10px;
}

.ul-order{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 354px;
    height: 268px;
}

.ul-order li{
    display: flex;
    width: 330px;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    border-radius: 10px;
    background-color: #ffff;
}

.ul-order div{
    width: 10px;
    height: 10px;
    background-color: #6DD3A4;
    border-radius: 50%;
    margin-right: 20px;
}

.pay {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 590px;
    height: 60px;
    color: #ffff;
    border: solid;
    border-radius: 12px;
    background-color: #A161F5;
    text-decoration: none;
    font-size: 20px;
}
/* Service required*/

.derecho{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.service-required{
    display: flex;
    align-items: center;
    width: 411px;
    margin-top: 30px;
    background-color: #ffff;
    padding-left: 25px;
    height: 318px;
    border-radius: 12px;
}

.colum-service{
    display: flex;
    flex-direction: column;
    height: 270px;
    justify-content: space-between;
    padding-left: 25px;
}
.servicios-individuales h4{
    font-size: 18px;

}
.servicios-individuales{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.servicios-individuales hr{
    margin-left: 15px;
    margin-right: 15px;
}

.valor-servicio{
    display: flex;
    margin-top: 10px;
    font-size: 14px;
}

/*service-schedule*/

.service-schedule{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    height: 227px;
    width: 267px;
}

.container-service-shedule{
    display: flex;
    flex-direction: column;
    height: 172px;
    justify-content: space-between;
}
.viñeta-service img{
    margin-right: 10px;
}
.viñeta-service{
    display: flex;
    font-size: 14px;
}

.p{
    display: flex;
    font-size: 13px;
    margin-left: 35px;
}

.p hr{
    margin-right: 15px;
    margin-left: 15px;
}
/*Footer*/

.container-bajo{
    background-color: #F5F4F6;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.img-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1031px;
    height: 210px;
    margin-top: 30px;
    background-color: #ffff;
    border-radius: 12px;
}

.card-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 146px;
}

.img-pantallita{
    width: 73px;
    height: 44px;

}

.p-footer{
    display: flex;
    font-size: 14px;
}

.p-footer hr{
    margin-left: 10px;
    margin-right: 10px;
}
